body{
    background: #3C75BB;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 50%;
    border: 6px solid #2F2F2F
    
    ;
}

#title{
    font-size:40;
    text-transform: uppercase;
}
*{
    color:#161616
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post {
    background: #25456D;
    padding: 15px;
    border: 3px solid #161616;
    margin-bottom: 15px;
    border-radius: 20px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a{
   text-decoration: none;
}